.icon-arrow-left { background-image: url('png/arrow-left.png'); background-repeat: no-repeat; }

.icon-arrow-right { background-image: url('png/arrow-right.png'); background-repeat: no-repeat; }

.icon-callout { background-image: url('png/callout.png'); background-repeat: no-repeat; }

.icon-dribble { background-image: url('png/dribble.png'); background-repeat: no-repeat; }

.icon-email-reply { background-image: url('png/email-reply.png'); background-repeat: no-repeat; }

.icon-facebook-dark { background-image: url('png/facebook-dark.png'); background-repeat: no-repeat; }

.icon-facebook { background-image: url('png/facebook.png'); background-repeat: no-repeat; }

.icon-flag { background-image: url('png/flag.png'); background-repeat: no-repeat; }

.icon-instagram-dark { background-image: url('png/instagram-dark.png'); background-repeat: no-repeat; }

.icon-instagram { background-image: url('png/instagram.png'); background-repeat: no-repeat; }

.icon-left-arrow { background-image: url('png/left-arrow.png'); background-repeat: no-repeat; }

.icon-logo { background-image: url('png/logo.png'); background-repeat: no-repeat; }

.icon-mail { background-image: url('png/mail.png'); background-repeat: no-repeat; }

.icon-phone { background-image: url('png/phone.png'); background-repeat: no-repeat; }

.icon-thanks { background-image: url('png/thanks.png'); background-repeat: no-repeat; }

.icon-tumblr { background-image: url('png/tumblr.png'); background-repeat: no-repeat; }

.icon-twitter-dark { background-image: url('png/twitter-dark.png'); background-repeat: no-repeat; }

.icon-twitter { background-image: url('png/twitter.png'); background-repeat: no-repeat; }

