.about {
  @include clearfix;
  padding: 0;
  background-color: transparent;
  clear: both;
  &-wrap {
    @extend .wrap;
    margin-bottom: 24px;
  }
  img {
    width: 100%;
    max-width: 1200px;
    margin-bottom: 24px;
    background-color: $black;
  }
  &-half {
    float: left;
    width: 50%;
    @media screen and (max-width: 840px) {
      float: none;
      width: 100%;
    }
  }
  &-left {
    padding-right: 12px;
    @media screen and (max-width: 840px) {
      margin-bottom: 24px;
    }
  }
  &-right {
    padding-left: 12px;
    .about-content {
      p:first-child {
        display: none;
      }
    }
  }
  &-left,
  &-right {
    @media screen and (max-width: 840px) {
      padding: 0;
    }
  }
  &-content {
    padding: 10px 18px;
    background-color: $white;
    font-family: $serif;
    @media screen and (max-width: 840px) {
      height: auto !important; // Override equalheight (uneccessary)
    }
    h2 {
      margin-bottom: 12px;
      padding-top: 10px;
      font-family: $sans-serif;
      font-size: .6875em;
      letter-spacing: .15em;
      text-transform: uppercase;
      color: $grey5;
    }
    p {
      line-height: 1.25em;
      color: $black;
    }
  }
}
