.post {
  @include clearfix;
  @extend .wrap;
  margin-bottom: 24px;
  padding: 0;
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  &-list {
    @include clearfix;
    padding: 0;
    background-color: transparent;
    &-wrap {
      @extend .wrap;
      margin-bottom: 24px;
    }
    .blog.paged & {
      max-width: 1224px;
      font-size: 0;
    }
  }
  &-single {
    @include clearfix;
    padding: 0;
    background-color: transparent;
    &-wrap {
      @extend .wrap;
      margin-bottom: 24px;
    }
    .single-post & {
      max-width: 600px;
      @media screen and (min-width: 655px) {
        margin-left: auto;
        margin-right: auto;
      }
    }
    &-left {
      .single-work & {
        float: left;
        width: 305px;
        margin: 0;
        @media screen and (max-width: 840px) {
          width: 100%;
        }
      }
      .post-pagination {
        display: block !important;
        margin-top: 24px;
        padding: 21px 19px 19px !important;
        @media screen and (max-width: 840px) {
          display: none !important;
        }
      }
    }
  }
  &-callout {
    @include transition(background-color 0.2s ease-in-out);
    display: block;
    height: 145px;
    max-width: 305px;
    margin: 0 auto 24px;
    background-color: $red;
    text-indent: -9999px;
    &:hover,
    &:focus {
      background-color: darken($red, 3%);
    }
  }
  &-gallery {
    margin-left: 325px;
    @media screen and (max-width: 840px) {
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
    }
    &--mobile {
      @media screen and (min-width: 841px) {
        display: none;
      }
    }
    &--desktop {
      @media screen and (max-width: 840px) {
        display: none;
      }
    }
    .single-work & {
      dl,
      dl dt,
      img {
        margin: 0 auto !important;
        padding: 0 !important;
        border: none !important;
      }
      &--spaced {
        .gallery-item {
          margin-bottom: 24px !important;
          &:last-of-type {
            margin-bottom: 0!important;
          }
        }
      }
    }
    &-wrap {
      width: 100%;
      float: left;
      background-color: $white;
      @media screen and (max-width: 840px) {
        margin-bottom: 24px;
      }
      .post-gallery--spaced & {
        background: none;
      }
    }
  }
  &-half {
    float: left;
    width: 50%;
    .blog.paged & {
      float: none;
      width: 100%;
    }
    @media screen and (max-width: 840px) {
      float: none;
      width: 100%;
    }
  }
  &-left {
    padding-right: 12px;
    .blog.paged & {
      padding: 0;
    }
    @media screen and (max-width: 840px) {
      padding: 0;
    }
  }
  &-right {
    padding-left: 12px;
    .blog.paged & {
      display: none;
    }
    @media screen and (max-width: 840px) {
      display: none;
    }
  }
  &-content {
    position: relative;
    max-width: 600px;
    margin: 0 auto 24px;
    padding: 10px 18px;
    background-color: $white;
    font-family: $serif;
    .single-post & {
      @media screen and (max-width: 1340px) {
        margin-bottom: 4px;
      }
    }
    &--full {
      max-width: 100%;
    }
    &-wrap {
      .blog.paged & {
        display: inline-block;
        width: 50%;
        padding: 0 12px;
        font-size: 16px;
        vertical-align: text-top;
        @media screen and (max-width: 840px) {
          padding: 0;
        }
      }
    }
    img {
      width: 100%;
      margin-bottom: 24px;
      padding-top: 10px;
      html.js & {
        opacity: 0;
        &.is-loaded {
          @include transition(opacity .3s ease-in);
          opacity: 1;
        }
      }
      html.ie9 &,
      html.lt-ie9 & {
        opacity: 1;
      }
      .connect & {
        opacity: 1 !important;
      }
      &.less-margin {
        margin-bottom: 10px;
      }
      .single-work & {
        display: none;
      }
    }
    h1,
    h2,
    .post-date,
    .post-tags {
      margin: 0;
      font-family: $sans-serif;
      font-size: .6875em;
      font-weight: bold;
      line-height: 1.5em;
      letter-spacing: .2em;
      text-transform: uppercase;
      color: $grey5;
    }
    h1 a {
      color: $grey5;
      &:hover,
      &:focus {
        color: $orange;
      }
    }
    .post-date, .post-tags {
      color: $orange;
      margin-bottom: 12px;
    }
    p {
      font-size: .9375em;
      line-height: 1.25em;
      color: $black;
    }
    ul,
    ol {
      padding: 5px 0 10px 20px;
      font-family: $sans-serif;
    }
    ul {
      list-style: disc;
    }
    ol {
      list-style: decimal;
    }
    li {
      margin-bottom: 5px;
      font-size: .875em;
      line-height: 1.25em;
      color: $grey5;
    }
    .gallery {
      display: none;
    }
  }
  &-meta {
    margin-bottom: 15px;
    padding-bottom: 3px;
    background: url(images/border.gif) repeat-x bottom center;
    @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) {
      background: url(images/border2x.gif) repeat-x bottom center;
    }
    &-social {
      display: block;
      padding-left: 32px;
      background-position: left center;
      &:hover,
      &:focus {
        h1 {
          @include transition(color 0.2s ease-in-out);
          color: $orange;
        }
      }
    }
  }
  &-pagination,
  &-navigation {
    @include clearfix;
    clear: both;
    display: none;
    padding: 12px 19px 10px;
    background-color: $white;
    .home &,
    .blog &,
    .archive & {
      @extend .wrap;
      display: block;
      margin-top: -16px;
      margin-bottom: 20px;
      padding: 12px 19px 10px;
    }
    &-wrap {
      position: relative;
      z-index: 100;
      .blog.paged & {
        padding-left: 12px !important;
        padding-right: 12px !important;
        @media screen and (max-width: 878px) {
          padding-left: 0 !important;
          padding-right: 0 !important;
        }
      }
    }
    .blog & {
      max-width: 600px;
      margin-top: -20px;
      margin-bottom: 0;
      @media screen and (max-width: 1240px) {
        margin: -20px auto 0 !important;
      }
    }
    .blog.paged & {
        max-width: 100%;
        font-size: 16px;
    }
    .single-post & {
      @media screen and (max-width: 1340px) {
        display: block;
      }
    }
    &--alt {
      @media screen and (max-width: 840px) {
        display: block;
      }
    }
    .single-work & {
      @media screen and (max-width: 840px) {
        display: block;
        max-width: 600px;
        margin: 0 auto;
      }
    }
    .alignleft,
    .alignright {
      margin: 0;
    }
    &-centered {
      margin: 0;
      font-size: .6875em;
      font-weight: bold;
      letter-spacing: .1em;
      text-align: center;
      text-transform: uppercase;
      color: $black;
      a {
        color: $black;
        &:hover,
        &:focus {
          color: darken($black, 10%);
        }
      }
      span a {
        color: $orange;
        &:hover,
        &:focus {
          color: darken($orange, 10%);
        }
      }
    }
  }
  &-navigation-wrap {
    .blog.paged .post-left & {
      display: none;
    }
    &-alt {
      display: none;
      .blog.paged & {
        display: block;
        @media screen and (max-width: 878px) {
          max-width: 600px;
          margin: 0 auto;
        }
      }
    }
  }
  &-back,
  &-next {
    @include position(fixed, 50% 50% null null);
    margin-top: -18px;
    width: 36px;
    height: 36px;
    span {
      @include transition(background-color 0.2s ease-in-out);
      display: block;
      background-color: rgba($white, .6);
      background-position: center;
      &:hover,
      &:focus {
        background-color: rgba($white, .8);
      }
    }
    a {
      display: block;
      width: 36px;
      height: 36px;
      text-indent: -9999px;
    }
    // @media screen and (max-width: 1340px) {
    //   display: none;
    // }
    display: none;
  }
  &-back span {
    position: relative;
    right: 620px;
  }
  &-next span {
    position: relative;
    left: 656px;
  }
  &-back-alt,
  &-next-alt {
    margin: 0;
    font-size: .6875em;
    font-weight: bold;
    letter-spacing: .1em;
    text-align: center;
    text-transform: uppercase;
  }
  &-back-alt {
    float: left;
    a {
      color: $black;
      &:hover,
      &:focus {
        color: darken($black, 10%);
      }
    }
  }
  &-next-alt {
    float: right;
    a {
      color: $orange;
      &:hover,
      &:focus {
        color: darken($orange, 10%);
      }
    }
  }
}
