fieldset {
  background: lighten($base-border-color, 10);
  border: 1px solid $base-border-color;
  margin: 0 0 ($base-line-height / 2) 0;
  padding: $base-line-height;
}

input,
label,
select {
  display: block;
  font-family: $form-font-family;
  font-size: $form-font-size;
}

label {
  font-weight: bold;
  margin-bottom: $base-line-height / 4;

  &.required:after {
    content: "*";
  }

  abbr {
    display: none;
  }
}

textarea {
  resize: vertical;
}

input[type="search"] {
  @include appearance(none);
}

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: $base-line-height / 4;
}

input[type="file"] {
  margin-bottom: $base-line-height / 2;
  padding-bottom: ($base-line-height / 3);
  width: 100%;
}

select {
  border-radius: 0;
  width: auto;
  max-width: 100%;
  margin-bottom: $base-line-height;
  -webkit-appearance: none;
}

input, textarea, select {
  @include transition(color, 0.3s $ease-in-out-quint, border-color 0.3s $ease-in-out-quint);
  padding: 17px 20px;
  margin-bottom: 16px;
  width: 100%;
  background: $white;
  border: 2px solid $grey4;
  color: $grey4;
  font-size: 1.275em;
  font-weight: normal;
  line-height: normal;
  letter-spacing: 1px;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  border-radius: 0;
  @include placeholder {
    color: $grey4;
  }
  &:hover {
    border-color: lighten($base-accent-color, 25%);
    @include placeholder {
      color: lighten($grey4, 12%);
    }
  }

  &:focus {
    border-color: $grey4;
    color: $grey4;
    outline: none;
    @include placeholder {
      color: $grey4;
    }
  }
}

textarea {
  height: 3em;
  line-height: 1.5em;
  overflow: hidden;
}

// Form Validation

.failure, label.error {
  font-weight: 400;
  color: $red;
}

.failure { margin-bottom: 10px; }

label.error {
  font-size: .875em;
  margin-top: -15px;
  margin-bottom: 10px;
  display: none;
}

input.error, textarea.error {
  border-bottom-color: $red;
}

%form-response {
  background-color: $light-red;
  border-radius: $base-border-radius;
  margin: 0;
  display: none;
  padding: 10px 15px;
  color: $grey6;
  &.failure, &.success {
    display: block;
  }
  &.success {
    background-color: $light-green;
  }
  p {
    margin: 0;
  }
}
