// Typography
$sans-serif: "franklin-gothic-urw", $helvetica;
$serif: "schoolbook-web", $georgia;
$base-font-family: $sans-serif;
$header-font-family: $base-font-family;

// Sizes
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.5;
$unitless-line-height: $base-line-height / ($base-line-height * 0 + 1); // Strip units from line-height: https://developer.mozilla.org/en-US/docs/Web/CSS/line-height#Prefer_unitless_numbers_for_line-height_values
$header-line-height: $base-font-size * 1.25;
$base-border-radius: em(3);

// Colors
$black: #3a3a3c; // Footer Background and Body Copy
$white: #fff;
$orange: #f2665b; $red: #f2665b;
$yellow: #ffde17;
$green: #a3ae3a;
$blue: #88ada7;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;

// Grey Scale
$grey: #e8e8ea;
$grey1: #d1d2d4; // Form Background
$grey2: #bcbdbf; // Social Icon Colors
$grey3: #a1a1a1;
$grey4: #949599;
$grey5: #6d6e71; // Subheadings
$grey6: #333;
$grey7: #1a1a1a;
$grey8: #0a0a0a;

// Brand Colors
$facebook: #3b5998;
$twitter: #55acee;
$pinterest: #bc071c;
$google: #dc4b39;
$dribbble: #ea4c89;
$tumblr: #34526f;

// Background Color
$base-background-color: $white;

// Font Colors
$base-font-color: $grey6;
$base-accent-color: $orange;

// Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);
$base-button-color: $base-link-color;
$hover-button-color: $hover-link-color;

// Border color
$base-border-color: $grey4;

// Flash Colors
$alert-color: $light-yellow;
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $grey;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(0,0,0,0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), .8);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;
