.contact {
  @media screen and (max-width: 840px) {
    margin-bottom: 24px;
  }
  &-text {
    padding: 7px 0 10px 60px;
    background-position: left top;
    margin-bottom: 12px;
    font-size: .6875em;
    letter-spacing: .15em;
    text-transform: uppercase;
    color: $grey4;
  }
  input[type=text], input[type=email], input[type=submit], textarea {
    padding: 7px;
    border: none;
    font-family: $serif;
    font-size: .75em;
    color: $black;
    background-color: $grey1;
  }
  input[type=text], input[type=email], textarea {
    @include transition(color 0.3s ease-in-out);
    @include placeholder {
      color: $black;
      opacity: .9;
    }
    &:hover,
    &:focus  {
      @include placeholder {
        opacity: .75;
      }
    }
  }
  input[type=text], input[type=email] {
    height: 29px;
    width: 42%;
    @media screen and (max-width: 1040px) {
      width: 40%;
    }
    @media screen and (max-width: 500px) {
      width: 36%;
    }
  }
  input[type=submit] {
    @include transition(background-color 0.3s ease-in-out);
    width: 14%;
    height: 28px;
    border-radius: 0;
    background-color: $grey4;
    font-family: sans-serif;
    text-transform: uppercase;
    &:hover,
    &:focus {
      background-color: darken($grey4, 10%);
    }
    @media screen and (max-width: 1040px) {
      width: 18%;
    }
    @media screen and (max-width: 500px) {
      width: 24%;
    }
  }
  textarea {
    margin-bottom: 0;
    height: 141px;
  }
  &-container {
    position: relative;
    &-inputs {
      @include clearfix;
      margin-bottom: 10px;
      input {
        float: left;
        margin-bottom: 0;
        margin-right: 1%;
        @media screen and (max-width: 500px) {
          margin-right: 2%;
        }
      }
      input[type=submit] {
        height: 29px;
        margin-right: 0;
      }
    }
  }
  &-loading {
    display: none;
    .js-contact-loading & {
      display: block;
    }
  }
  &-error {
    display: none;
    .js-contact-error & {
      display: block;
    }
  }
  &-success {
    @include position(absolute, 0 0 0 0);
    background-color: $grey4;
    background-size: contain;
    background-position: center;
    display: none;
    .js-contact-success & {
      display: block;
    }
  }
}
