.footer {
  @include clearfix;
  width: 100%;
  padding: 15px 8px;;
  background-color: $black;
  color: $grey;
  clear: both;
  @media screen and (max-width: 1240px) {
    width: auto;
  }
  &-wrap {
    @extend .wrap;
  }
  &-info,
  .contact {
    float: right;
    width: 50%;
    padding: 0 12px; // Keeps contact form aligned with 2nd column
    @media screen and (max-width: 840px) {
      float: none;
      width: 100%;
    }
  }
  &-info {
    @media screen and (max-width: 840px) {
      display: table;
    }
    @media screen and (max-width: 600px) {
      display: block;
    }
    h1 {
      margin-bottom: 12px;
      font-size: .6875em;
      letter-spacing: .15em;
      text-transform: uppercase;
      color: $grey4;
    }
    address {
      margin-bottom: 18px;
      font-family: $serif;
      font-size: .75em;
      font-style: normal;
      line-height: 1.5em;
      span {
        font-family: $sans-serif;
        font-weight: 500;
        letter-spacing: .15em;
        text-transform: uppercase;
      }
    }
  }
  &-half {
    @media screen and (max-width: 840px) {
      display: table-cell;
      width: 50%;
      vertical-align: bottom;
    }
    @media screen and (max-width: 600px) {
      display: block;
      width: 100%;
    }
  }
  p {
    margin-bottom: 15px;
    @media screen and (max-width: 840px) {
      margin: 0;
    }
    @media screen and (max-width: 600px) {
      margin-bottom: 18px;
    }
    a {
      color: $grey;
      font-size: .75em;
      font-weight: 500;
      letter-spacing: .15em;
      text-transform: uppercase;
      &:hover,
      &:focus {
        color: darken($grey, 10%);
      }
    }
  }
  &-social {
    @include clearfix;
    margin-bottom: 23px;
    li {
      float: left;
      margin-right: 15px;
      a {
        @include transition(top 0.2s ease-in-out);
        position: relative;
        top: 0;
        display: block;
        width: 18px;
        height: 18px;
        text-indent: -9999px;
        &:hover,
        &:focus {
          top: -2px;
        }
      }
    }
  }
  &-button {
    @include transition(background-color 0.3s ease-in-out);
    display: inline-block;
    padding: 11px 55px 9px;
    background-color: $grey4;
    font-size: .75em;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: .15em;
    text-align: center;
    text-transform: uppercase;
    color: $black;
    &:hover,
    &:focus {
      color: $black;
      background-color: darken($grey4, 10%);
    }
    span {
      width: 34px;
      height: 22px;
      display: inline-block;
      margin-bottom: -6px;
      margin-right: 12px;
    }
    @media screen and (max-width: 840px) {
      width: 100%;
      padding: 10px 20px;
    }
  }
}
