.header {
  @include clearfix;
  padding: 0 17px;
  background-color: $white;
  @media screen and (max-width: 640px) {
    padding: 0;
  }
  &-wrap {
    @extend .wrap;
  }
  &-logo {
    @include retina-image(images/logo, contain, gif, images/logo_2x, _2x);
    float: left;
    width: 180px;
    height: 90px;
    margin-right: 8px;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-size: contain;
    &:hover {
      @include retina-image(images/logo-hover, contain, gif, images/logo-hover_2x, _2x);
    }
    @media screen and (max-width: 640px) {
      display: block;
      float: none;
      margin: 0 auto;
    }
  }
  &-nav {
    float: right;
    padding-top: 23px;
    text-transform: uppercase;
    @media screen and (max-width: 640px) {
      display: block;
      float: none;
      padding-top: 10px;
    }
    p {
      margin: 0;
      font-family: $serif;
      font-size: 1.125em;
      letter-spacing: .05em;
      text-align: right;
      text-transform: none;
      color: $grey5;
      br {
        display: none;
      }
      @media screen and (max-width: 640px) {
        text-align: center;
        span {
          display: none;
        }
        br {
          display: inline-block;
        }
      }
    }
    &-list {
      float: right;
      @media screen and (max-width: 640px) {
        float: none;
        margin: 0 auto;
        padding-bottom: 10px;
        text-align: center;
      }
      li {
        float: left;
        margin-left: 65px;
        line-height: normal;
        &:first-child {
          margin: 0;
        }
        @media screen and (max-width: 640px) {
          display: inline-block;
          float: none;
          margin: 0 15px;
          &:first-child {
            margin: 0 15px;
          }
        }
        @media screen and (max-width: 440px) {
          margin: 0 5px;
          &:first-child {
            margin: 0 5px;
          }
        }
      }
      a {
        font-size: .6875em;
        font-weight: bold;
        letter-spacing: .15em;
        color: $grey5;
        &:hover,
        &:active,
        &.current {
          color: $orange;
        }
        @media screen and (max-width: 640px) {
          display: inline-block;
          padding: 5px;
          font-size: .8em;
        }
      }
      .current-menu-item a,
      .archive & .work-link a,
      .single-work & .work-link a,
      .single-post & .current_page_parent a {
        color: $orange;
      }
    }
  }
}
