.work {
  padding: 10px;
  background-color: $white;
  font-size: 0; // for inline-block spacing
  &-wrap {
    @extend .wrap;
  }
  .single-work & {
    @media screen and (max-width: 840px) {
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
    }
    @media screen and (max-width: 640px) {
      margin-left: 20px;
      margin-right: 20px;
    }
    @media screen and (max-width: 500px) {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  .home &, .tag & {
    padding-top: 0;
  }
  &-nav {
    padding: 6px 0 0;
    background-color: $white;
    font-size: 16px; // reset base font size
    &-wrap {
      @extend .wrap;
      margin-bottom: 0;
    }
    ul {
      @include clearfix;
      text-align: center;
    }
    li {
      display: inline-block;
      margin: 4px 16px 0;
      $font-family: $serif;
      font-size: .75em;
      font-weight: 500;
      line-height: normal;
      letter-spacing: .15em;
      text-transform: uppercase;
      @media screen and (max-width: 560px) {
        float: left;
        margin: 0;
        padding: 0 16px;
        width: 50%;
        font-size: .8375em;
      }
      a {
        padding: 4px;
        color: $grey5;
        &:hover,
        &:focus {
          color: darken($grey5, 10%);
        }
        &.is-current {
          color: $orange;
          &:hover,
          &:focus {
            color: darken($orange, 10%);
          }
        }
        @media screen and (max-width: 560px) {
          display: inline-block;
        }
      }
    }
  }
  &-item {
    display: inline-block;
    position: relative;
    width: 25%; // sets base before resize;
    position: relative;
    padding: 10px;
    font-size: 16px; // reset base font size
    vertical-align: text-top;
    &-overlay {
      @include position(absolute, 10px);
      @include transition(opacity .5s ease-in-out);
      opacity: 0;
      &:hover,
      &:focus {
        opacity: 1;
      }
      &-bg {
        @include position(absolute, 0);
        background-color: $black;
        opacity: .8;
      }
      &-text {
        position: relative;
        display: table;
        width: 100%;
        height: 100%;
        &-center {
          display: table-cell;
          padding: 20px;
          vertical-align: middle;
        }
        .single-work & {
          @media screen and (max-width: 639px) {
            display: none;
          }
        }
      }
      h1,
      p {
        text-align: center;
        color: $white;
      }
      h1 {
        margin-bottom: 14px;
        font-size: 1em;
        line-height: 1.25em;
        letter-spacing: .2em;
        text-transform: uppercase;
        &.work-new {
          padding-top: 80px;
          background-position: center top;
        }
      }
      p {
        margin: 0;
        font-family: $serif;
        font-size: 1em;
      }
    }
    img {
      position: relative;
      width: 100%;
      html.js & {
        opacity: 0;
        &.is-loaded {
          @include transition(opacity .3s ease-in);
          opacity: 1;
        }
      }
      html.ie9 &,
      html.lt-ie9 & {
        opacity: 1;
      }
    }
  }
}
