@import "../bower_components/bourbon/dist/bourbon";
@import "base/base";
@import "components/all";
@import "layouts/all";

html {
}

body {
  @include linear-gradient(60deg, $green 0%, $green 3%, $yellow 47%, $yellow 53%, $orange 97%, $orange 100%);
  @include display(flex);
  @include flex-direction(column);
  @include transition(background 5s linear);
  background-position: 0% 100%;
  background-size: 200%;
  min-height: 100vh;
  color: $black;
  line-height: 1.5em;
  -moz-osx-font-smoothing: grayscale;
  &.animate-bg {
    background-position: 100% 0%;
  }
  &:after {
    display: none;
    content: url(images/logo-hover.gif);
    @include hidpi(1.5) {
      content: url(images/logo-hover_2x.gif);
    }
  }
}
