.wrap-large {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1020px;
}
.wrap {
  padding: 0 20px;
  margin: 0 auto 20px;
  width: 100%;
  max-width: 1240px;
}
.wrap-medium {
  padding: 0 40px;
  margin: 0 auto;
  max-width: 700px;
  @media #{$mobile-query} { padding: 0 20px; }
}
.wrap-small {
  padding: 0 40px;
  margin: 0 auto;
  max-width: 520px;
  @media #{$mobile-query} { padding: 0 20px; }
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.video-wrapper iframe {
  @include position(absolute, 0px null null 0px);
  width: 100%;
  height: 100%;
}
